@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Gudea:300,400,500);

/* Remove 300ms click delay on touch devices.
   http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay */
a, button, label {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* Grid based on ungrid.css. */

.row {
    box-sizing: border-box;
    padding-top: 9%;
    padding-bottom: 9%;
}

.col {
    margin: 3.5em 2em;
}

@media (min-width: 70em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
    .row {
        padding-left: 6%;
        padding-right: 6%;
    }
    .col {
        padding: 2em 0;
    }
    .col:not(:last-child) {
        padding-right: 3.5em;
    }
}

.vue-wrapper {
    height: 100%;
    width: 100%;
}

/* Typography. */

body {
    color: rgb(4, 13, 20);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}
@media (max-width: 450px) { /* <= iPhone 6+ */
    body {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

h1 {
    font-weight: 400;
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-weight: 500;
}

p {
    margin: 0.5em 0;
}

.row a:not(.chiclet) {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    transition: all 150ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.row a:not(.chiclet):hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.12);
}

/* Investimize logo. */

img.investimize-logo {
    content: url(../img/investimize_green.svg);
    height: 2em;
    display: inline-block;
    vertical-align: middle;
}

img.investimize-logo path {
    fill: red;
}

/* Fragment transitions. */

.slide-in-transition {
    position: absolute;
    transition: all 1s ease;
}

.slide-in-enter, .slide-in-leave {
    opacity: 0;
}

.slide-in-enter {
    transform: translateX(32px);
}

.slide-in-leave {
    transform: translateX(-32px);
}

/* Navigation. */

nav {
    color: rgb(4, 13, 20);
}

nav > div:first-child a {
    border: 0;
}

nav > div:last-child a:hover {
    border-bottom: 2px solid rgba(4, 13, 20, 0.1);
}

nav > div:last-child a.active {
    border-color: rgba(4, 13, 20, 0.6);
}

/* Row slants. */

.slanted {
    position: relative;
}

.slanted > .col:first-child::before, .slanted > .col:first-child::after {
    content: "";
    display: inline;
    position: absolute;
    left: 0;
    height: 80px;
    width: 100%;
    background: white;
}

.slanted > .col:first-child::before {
    top: 0;
    transform: translateY(-50%) skewY(-1.2deg);
    transform-origin: 0 0;
}

.slanted > .col:first-child::after {
    top: 100%;
    transform: translateY(-50%) skewY(-1.2deg);
    transform-origin: 0 100%;
}

/* Hero. */

#hero {
    position: relative;
    z-index: 1;
}

#hero .col {
    margin: 0 2em;
    padding: 0;
}

#hero h1 {
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 500;
    color: #00D1AE;
    background: -webkit-linear-gradient(-45deg, #00DB71 0%, #00D1AE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero h1::after {
    content: 'beta';
    display: block;
    position: absolute;
    background: #00D1AE;
    border-radius: 4px;
    border-bottom-left-radius: 0;;
    padding: 4px 6px;
    font-weight: 300;
    font-size: 0.25em;
    top: -0.6em;
    right: 0;
    color: white;
    -webkit-text-fill-color: white;
}

#hero h2 {
    margin-bottom: 1em;
    max-width: 20em;
}

#hero a.chiclet {
    font-size: 1.25em;
}

/* Features */

#features {
    text-align: center;
    color: white;
    background: #007A66;
    background: -moz-linear-gradient(-45deg, #00E677 0%, #00DBB7 100%);
    background: -webkit-linear-gradient(-45deg, #00E677 0%, #00DBB7 100%);
    background: linear-gradient(135deg, #00E677 0%, #00DBB7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E677',endColorstr='#00DBB7',GradientType=1);
}

#features img {
    height: 7em;
    margin-bottom: 0.75em;
}

#features p {
    text-align: left;
}

#features a {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

#features a:hover {
    border-color: white;
}

/* Featured */



/* Footer */

#footer {
    color: white;
    background: rgba(0, 0, 10, 0.9);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

#footer.slanted > .col:first-child::after {
    display: none;
}

#footer .col { 
    vertical-align: top;
}

#footer .col > div {
    text-align: left;
    display: inline-block;
    width: 12em;
}

#footer a {
    color: white;
    border: none;
    background: none;
    box-shadow: none;
}

#footer a:hover {
    color: #00E677;
}

#footer a i {
    width: 32px;
    text-align: center;
    margin-right: 15px;
}

#footer h4, #footer p {
    opacity: 0.5;
}

#footer p {
    font-size: 0.75em;
    margin-bottom: 0;
    max-width: 15em;
}

/* Input. */

#input {
    padding: 1em;
    box-sizing: border-box;
}

#input {
    color: white;
    font-size: 0.75em;
    box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
    background: #00DBB7;
    background: -moz-linear-gradient(-45deg, #00E677 0%, #00DBB7 100%);
    background: -webkit-linear-gradient(-45deg, #00E677 0%, #00DBB7 100%);
    background: linear-gradient(135deg, #00E677 0%, #00DBB7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E677',endColorstr='#00DBB7',GradientType=1);
}

@media (min-width: 50em) {

    #input, #output {
        position: absolute;
    }

    #output {
        left: 400px;
        bottom: 0;
        right: 0;
        top: 0;
        overflow-y: auto;
    }

    #input {
        color: white;
        width: 400px;
        height: 100%;
        overflow-y: auto;
    }

}

#input table {
    width: 100%;
    border-collapse: collapse;
}

#input tbody::after {
    content: '';
    display: block;
    height: 1.2em;
}

#input tr {
    border-top: 0.4em solid transparent;
}

#input td, #input th {
    position: relative;
}

#input th {
    font-weight: normal;
}

#input th:first-child {
    text-align: left;
    font-weight: bold;
}

#input td:first-child, #input th:first-child {
    width: 1%;
    white-space: nowrap;
}

#input tbody.collapsed tr:not(:first-child) {
    display: none;
}

#input tbody th:last-child {
    text-align: right;
    overflow: visible;
}

#input tbody th:last-child div:not(.input-range) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: visible;
}

#input tbody th a {
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-size: 1em;
    width: 26px;
    height: 26px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%) translateY(-1px);
    top: 50%;
    right: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    vertical-align: middle;
    transition: all 200ms ease;
    cursor: pointer;
    z-index: 999;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden; /* Fix 1px shift bug on Chrome. */
}

#input tbody th a:hover {
    transform: translateY(-50%) translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#input tbody th a::before, #input tbody th a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    margin-top: -1px;
    height: 2px;
    background: #444;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
}

#input tbody th a::before {
    transform: translateX(-50%) rotate(-45deg);
}

#input tbody th a::after {
    transform: translateX(-50%) rotate(45deg);
}

#input tbody.collapsed th a::before {
    transform: translateX(-50%);
}

#input tbody.collapsed th a::after {
    transform: translateX(-50%) rotate(90deg);
}

#input a:not(.chiclet) {
    color: white;
    border: 0;
}

#input a.investimize-logo {
    font-size: 1.25em;
    padding: 0;
}

#input a.investimize-logo img {
    content: url(../img/investimize_white.svg);
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-bottom: 2em;
}

/* Output. */

#output td:nth-child(2), #output th:nth-child(2) {
    display: none;
}

#portfolio, .vis-col:last-child {
    margin-top: 2em;
}

#output {
    padding: 2em;
    box-sizing: border-box;
    font-size: 0.7em;
}

@media (min-width: 70em) {

    .vis-row {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .vis-col {
        display: table-cell;
        vertical-align: middle;
    }

    .vis-col:last-child {
        width: 40%;
    }

    #output td:nth-child(2), #output th:nth-child(2) {
        display: table-cell;
    }

}

#portfolio {
    text-align: left;
    width: 100%;
}

#portfolio tr:hover td {
    background: rgba(4, 13, 20, 0.04);
}

#portfolio th {
    border-bottom: 1px solid rgb(4, 13, 20);
}

#portfolio td, #portfolio th {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 2.7em;
    text-align: right;
}

#portfolio td:not(:nth-child(3)) {
    width: 1%;
}


#portfolio td, #portfolio th {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#portfolio td:nth-child(3), #portfolio th:nth-child(3) {
    text-align: left;
}

#portfolio td:nth-child(4), #portfolio th:nth-child(4),
#portfolio td:nth-child(5), #portfolio th:nth-child(5) {
    text-align: center;
}

#portfolio td > div {
    position: absolute;
    top: 0;
    left: 0.7em;
    bottom: 0;
    right: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#portfolio .abbrev {
    font-style: normal;
    font-size: 0.7em;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    line-height: 2.5em;
    text-align: center;
    background: #ddd;
    border-radius: 50%;
    vertical-align: middle;
}

#portfolio .abbrev span {
    width: initial !important;
    white-space: nowrap;
    font-size: initial;
    width: 7em;
}

#portfolio a {
    color: inherit;
    text-decoration: none;
}

#portfolio a:hover {
    text-decoration: underline;
}
