/* (Two-thumb) input range */

div.input-range {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2em;
    right: 2em;
    vertical-align: middle;
}

div.input-range > label {
    position: absolute;
    font-size: 0.7em;
    top: 50%;
}

div.input-range > label:first-child {
    right: 100%;
    transform: translateY(-50%) translateY(2px) translateX(-5px);
}

div.input-range > label:last-child {
    left: 100%;
    transform: translateY(-50%) translateY(2px) translateX(5px);
}

div.input-range > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font: inherit;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    cursor: pointer;
}

div.input-range > input:focus {
    outline: 0;
}

div.input-range > input::-moz-focus-outer {
    border: 0;
}

div.input-range > input::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    pointer-events: all;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: white;
    z-index: 2;
    position: relative;
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
    margin-top: -0.5em; /* Chrome needs to shift the thumb up. */
    transform: translateY(2px); /* Should be 2px because this is half the track, but shadow looks like a pixel. */
}

@supports (-ms-accelerator:true) {
    div.input-range > input::-webkit-slider-thumb {
        margin-top: 0; /* Remove margin on Edge */
    }
}

div.input-range > input::-moz-range-thumb {
    border: none;
    -moz-appearance: none;
    pointer-events: all;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: white;
    z-index: 2;
    position: relative;
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
}

div.input-range > input::-ms-thumb {
    border: none;
    appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: white;
    z-index: 2;
    position: relative;
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);
}

div.input-range > input:focus::-webkit-slider-thumb {
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5),
        0 0 0 4px rgba(0, 0, 0, 0.07);
}

div.input-range > input:focus::-moz-range-thumb {
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5),
        0 0 0 4px rgba(0, 0, 0, 0.07);
}

div.input-range > input:focus::-ms-thumb {
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5),
        0 0 0 4px rgba(0, 0, 0, 0.07);
}

div.input-range > input::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
}

div.input-range > input::-moz-range-track {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
}

div.input-range > input::-ms-track {
    background: transparent; /* No background color. */
    border-color: transparent; /* No border. */
    color: transparent; /* No tick marks. */
    width: 100%;
    height: 4px;
    border: none;
}

div.input-range > input::-ms-tooltip {
    display: none;
}

div.input-range > input::-ms-fill-lower,
div.input-range > input::-ms-fill-upper {
    border-radius: 2px;
}

div.input-range > input:first-child::-webkit-slider-runnable-track,
div.input-range > input:nth-child(2)::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.6);
}

div.input-range > input:first-child::-moz-range-track,
div.input-range > input:nth-child(2)::-moz-range-track {
    background: rgba(255, 255, 255, 0.6);
}

div.input-range > input:first-child::-ms-fill-lower,
div.input-range > input:first-child::-ms-fill-upper,
div.input-range > input:nth-child(2)::-ms-fill-lower,
div.input-range > input:nth-child(2)::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.6);
}

/* Chiclet button */

.chiclet {
    display: inline-block;
    text-decoration: none;
    font: inherit;            
    color: rgba(0, 0, 0, 0.7);
    text-shadow: -1px 1px 1px #fff,
        0 0 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    line-height: 1;
    margin: 2px 1px 6px 1px;
    padding: 0.5em 0.6em;
    background: #eff0f2;
    border-radius: 4px;
    border: 0;
    border-top: 2px solid #f5f5f5;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 3px 0 #c9c9c9,
        0 3px 3px #333;
}

button.chiclet:disabled,
a.chiclet.disabled {
    color: rgba(0, 0, 0, 0.35);
}

.chiclet::selection {
    color: white;
    background: #5af;
    text-shadow: none;
}

button.chiclet:enabled:hover,
a.chiclet:not(.disabled):hover {
    margin: 3px 1px 5px 1px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 2px 3px #333;
}

button.chiclet:enabled:active,
a.chiclet:not(.disabled):active {
    background: #ebeced;
    margin: 5px 1px 3px 1px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.10),
        0 0 3px #333;
    border-top-color: #eee;
}

button.chiclet:not(.nofocus):focus,
a.chiclet:not(.nofocus):focus {
    outline: 0;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 3px 0 #c9c9c9,
        0 3px 4px -1px #333,
        0 3px 0 5px rgba(0, 0, 0, 0.07);
}

button.chiclet:not(.nofocus):focus:hover,
a.chiclet:not(.nofocus):focus:hover {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 2px 4px -1px #333,
        0 2px 0 5px rgba(0, 0, 0, 0.07);
}

/* Safari does not seem to get focus on click.
   https://gist.github.com/cvrebert/68659d0333a578d75372 */
button.chiclet:not(.nofocus):enabled:focus:active,
a.chiclet:not(.nofocus):not(.disabled):focus:active {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.10),
        0 0 4px -1px #333,
        0 0 0 5px rgba(0, 0, 0, 0.07);
}

button.chiclet.light:focus,
a.chiclet.light:focus {
    outline: 0;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 3px 0 #c9c9c9,
        0 3px 4px -1px #333,
        0 3px 0 5px rgba(0, 0, 0, 0.05);
}

button.chiclet.light:focus:hover,
a.chiclet.light:focus:hover {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.05),
        0 1px 0 #c3c3c3,
        0 2px 0 #c6c6c6,
        0 2px 4px -1px #333,
        0 2px 0 5px rgba(0, 0, 0, 0.05);
}

button.chiclet.light:enabled:focus:active,
a.chiclet.light:not(.disabled):focus:active {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.10),
        0 0 4px -1px #333,
        0 0 0 5px rgba(0, 0, 0, 0.05);
}

/* Material hamburger button */

#hamburger {
    display: none;
}

.hamburger {
    width: 2.6em;
    height: 2.6em;
    display: inline-block;
    background: #f7f7f7;
    border-radius: 50%;
    position: relative;
    top: -4px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.02), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    vertical-align: middle;
    transition: all 200ms ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden; /* Fix 1px shift bug on Chrome. */
}

.hamburger:hover {
    transform: translateY(-3px);
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.02), 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hamburger > i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background: #333;
    border-radius: 1px;
    transform: translateX(-50%);
    transition: all 200ms ease-in-out;
}

.hamburger > i:first-child {
    margin-top: -0.4em;
    transform: translateX(-50%) translateY(-1px);
}

.hamburger > i:nth-child(2), .hamburger > i:nth-child(3) {
    margin-top: -1px;
}

.hamburger > i:last-child {
    margin-top: 0.4em;
    transform: translateX(-50%)  translateY(-1px);
}

#hamburger:checked ~ .hamburger > i:first-child, #hamburger:checked ~ .hamburger > i:last-child {
    opacity: 0;
    transform: scale(0);
    margin-top: -1px;
}

#hamburger:checked ~ .hamburger > i:nth-child(2) {
    transform: translateX(-50%) rotate(45deg);
}

#hamburger:checked ~ .hamburger > i:nth-child(3) {
    transform: translateX(-50%) rotate(-45deg);
}

/* Material responsive menu */

nav {
    color: #f7f7f7;
    display: table;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
    box-sizing: border-box;
    padding: 1.2em 6%;
}

nav a {
    color: inherit;
    font: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 0;
    white-space: nowrap;
}

nav > div:last-child a {
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

nav > div:last-child a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

nav > div:last-child a.active {
    border-bottom: 2px solid white;
}

nav > div:first-child > a {
    font-size: 1.4em;
}

nav > div {
    display: table-cell;
    vertical-align: middle;
}

nav > div:last-child {
    text-align: right;
    position: relative;
}

nav > div:last-child ul {
    display: table;
    float: right;
    text-align: left;
    vertical-align: middle;
    list-style-type: none;
}

nav > div:last-child li {
    display: table-cell;
    padding: 0 1em;
}

nav > div:last-child li:first-child {
    padding-left: 0;
}

nav > div:last-child li:last-child {
    padding-right: 0;
}

nav > div:last-child ul {
    margin: 0;
    padding: 0;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 70em) {

    nav {
        padding-left: 2em;
        padding-right: 2em;
    }
    
    .hamburger {
        display: inline-block;
    }
    
    #hamburger ~ ul, #hamburger ~ ul li, #hamburger ~ ul a {
        display: block;
    }
    
    #hamburger ~ ul {
        position: absolute;
        bottom: 0; /* Fix positioning in IE. */
        right: 0;
        background: #f7f7f7;
        color: #333;
        border-radius: 4px;
        transform: translateY(100%) scale(0);
        transition: transform 200ms ease;
        transform-origin: 85% 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    #hamburger ~ ul a.active, #hamburger ~ ul a:hover {
        border-color: transparent;
    }
    
    #hamburger ~ ul li {
        padding: 0;
        box-shadow: inset 0 2px 0 -1px white, inset 0 -2px 0 -1px rgba(0, 0, 0, 0.05);
    }
    
    #hamburger ~ ul li:first-child {
        padding: 0;
        box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.05);
    }
    
    #hamburger ~ ul li:last-child {
        padding: 0;
        box-shadow: inset 0 2px 0 -1px white;
    }
    
    #hamburger ~ ul a {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #hamburger:checked ~ ul {
        transform: translateY(100%) scale(1);
    }
    
}

/* Hint on hover */

.hint-top, .hint-right, .hint-bottom, .hint-left, [data-hint] {
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased; /* Prevent font thinning on transition in Safari. */
}

[data-hint]::before {
    content: attr(data-hint);
}

.hint-top > span:last-child, .hint-right > span:last-child, .hint-bottom > span:last-child, .hint-left > span:last-child, [data-hint]::before, [data-hint]::after {
    z-index: 999; /* Also prevent font thinning in Safari on underlying elements by increasing z-index. */
    pointer-events: none;
    visibility: hidden;
    transition: transform 200ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

/* Base hint content style */
.hint-top > span:last-child, .hint-right > span:last-child, .hint-bottom > span:last-child, .hint-left > span:last-child, [data-hint]::before {
    width: 160px;
    color: #333;
    display: inline-block;
    position: absolute;
    font-size: 0.85em;
    font-weight: normal;
    white-space: normal;
    line-height: 1.3;
    background: white;
    padding: 10px 12px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hint-top > span:last-child, .hint-top[data-hint]::before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%) scale(0.7);
    transform-origin: 50% 100%;
}

.hint-right > span:last-child, .hint-right[data-hint]::before {
    text-align: left;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translateY(-50%) scale(0.7);
    transform-origin: 0 50%;
}

.hint-bottom > span:last-child, .hint-bottom[data-hint]::before {
    top: 100%;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%) scale(0.7);
    transform-origin: 50% 0;
}

.hint-left > span:last-child, .hint-left[data-hint]::before {
    text-align: left;
    top: 50%;
    right: 100%;
    margin-right: 20px;
    transform: translateY(-50%) scale(0.7);
    transform-origin: 100% 50%;
}

/* Base arrow style */
.hint-top > span:last-child::after, .hint-right > span:last-child::after, .hint-bottom > span:last-child::after, .hint-left > span:last-child::after, [data-hint]::after {
    content: '';
    display: block;
    position: absolute;
    width: 0; 
    height: 0;
}

.hint-top > span:last-child::after, .hint-top[data-hint]::after {
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
}
.hint-top > span:last-child::after { top: 100%; margin-top: -1px; }
.hint-top[data-hint]::after { bottom: 100%; margin-bottom: 9px; transform-origin: 50% 0; }

.hint-right > span:last-child::after, .hint-right[data-hint]::after {
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid white;
}
.hint-right > span:last-child::after { right: 100%; margin-right: -1px; }
.hint-right[data-hint]::after { left: 100%; margin-left: 9px; transform-origin: 100% 50%; }

.hint-bottom > span:last-child::after, .hint-bottom[data-hint]::after {
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
}
.hint-bottom > span:last-child::after { bottom: 100%; margin-bottom: -1px; }
.hint-bottom[data-hint]::after { top: 100%; margin-top: 9px; transform-origin: 50% 100%; }

.hint-left > span:last-child::after, .hint-left[data-hint]::after {
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid white;
}
.hint-left > span:last-child::after { left: 100%; margin-left: -1px; }
.hint-left[data-hint]::after { right: 100%; margin-right: 9px; transform-origin: 0% 50%; }

/* Hover content style */
.hint-top:hover > span:last-child, .hint-right:hover > span:last-child, .hint-bottom:hover > span:last-child, .hint-left:hover > span:last-child, [data-hint]:hover::before, [data-hint]:hover::after {
    visibility: visible;
    opacity: 1;
}

.hint-top:hover > span:last-child, .hint-top[data-hint]:hover::before {
    transform: translateX(-50%);
}

.hint-right:hover > span:last-child, .hint-right[data-hint]:hover::before {
    transform: translateY(-50%);
}

.hint-bottom:hover > span:last-child, .hint-bottom[data-hint]:hover::before {
    transform: translateX(-50%);
}

.hint-left:hover > span:last-child, .hint-left[data-hint]:hover::before {
    transform: translateY(-50%);
}

/* Hover arrow style */
.hint-top:hover > span:last-child::after, .hint-top[data-hint]:hover::after {
    transform: translateX(-50%);
}

.hint-right:hover > span:last-child::after, .hint-right[data-hint]:hover::after {
    transform: translateY(-50%);
}

.hint-bottom:hover > span:last-child::after, .hint-bottom[data-hint]:hover::after {
    transform: translateX(-50%);
}

.hint-left:hover > span:last-child::after, .hint-left[data-hint]:hover::after {
    transform: translateY(-50%);
}
